@import '../index.scss';

form{
	@include flex(collumn);
	justify-content: center;
	min-height: 100vh;
	label{
		font-size: 20px;
	}
	span{
		@include flex(column);
		margin: 8px 0;
		input{
				margin: 0;
		}
	}
}
