//colors:

$primary: #7E57F4;
$primaryDarker: #5D2CF2;
$secondary: #32CD9F;
$dark:#463F5A;
$darker:#3A3743;
$light: #F9F9FB;

//type system:

@mixin font{
	font-family: roboto;
}

//default styles:

body{
	margin: 0;
	display: flex;
	flex-direction: column;
	background: $darker;
	color: $light;
	@include font;
	#root{
		display:flex;
		flex-direction: column;
		.form{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			max-width: 512px;
			margin: 0 auto;
		}
}
}
