//colors:

$primary: #7E57F4;
$primaryDarker: #5D2CF2;
$secondary: #32CD9F;
$dark:#463F5A;
$darker:#3A3743;
$light: #F9F9FB;

//type system:

h1{
	margin: 0;
}

//mixins
@mixin font{
	font-family: roboto, sans-serif;
}

@mixin flex($direction){
	display: flex;
	flex-direction: $direction;
	&:first-child{
		margin-left: 0;	
	}
	&:last-child{
		margin-right: 0;
	}
}


//default styles:

body{
	margin: 0;
	display: flex;
	flex-direction: column;
	background: $darker;
	color: $light;
	@include font;
	#root{
		display:flex;
		flex-direction: column;
		.form{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			max-width: 512px;
			margin: 0 auto;
		}
}
}
